<div class='btn-group'  dropdown is-open="isopen">
    <button type="button" class="btn save-btn dropdown-toggle">
        Save Csv <span class='caret'></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a class='save-filter-results-anchor' href="#">Save Filtered Results</a></li>
        <li><a class='save-all-results-anchor' href="#">Save All Results</a></li>
        <li>
            <a class="open-file-anchor" href="#">Open File</a>
            <input type="file" id="file-opener" style="display:none" />
        </li>
    </ul>
</div>