<!-- Not loaded by templating, but a good place to keep this content -->
<article class="help-article">
    <h3>Filtrex</h3>
    <h4>Expressions</h4>
    <p>There are only 2 types: numbers and strings.</p>
    <table>
        <tbody>
            <table class="table">
                <thead>
                    <tr>
                        <th>Numeric arithmetic</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>x + y</td>
                        <td>Add</td>
                    </tr>
                    <tr>
                        <td>x - y</td>
                        <td>Subtract</td>
                    </tr>
                    <tr>
                        <td>x * y</td>
                        <td>Multiply</td>
                    </tr>
                    <tr>
                        <td>x / y</td>
                        <td>Divide</td>
                    </tr>
                    <tr>
                        <td>x % y</td>
                        <td>Modulo</td>
                    </tr>
                    <tr>
                        <td>x ^ y</td>
                        <td>Power</td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th>Comparisons</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>x == y</td>
                        <td>Equals</td>
                    </tr>
                    <tr>
                        <td>x &lt; y</td>
                        <td>Less than</td>
                    </tr>
                    <tr>
                        <td>x &lt;= y</td>
                        <td>Less than or equal to</td>
                    </tr>
                    <tr>
                        <td>x &gt; y</td>
                        <td>Greater than</td>
                    </tr>
                    <tr>
                        <td>x &gt;= y</td>
                        <td>Greater than or equal to</td>
                    </tr>
                    <tr>
                        <td>x in (a, b, c)</td>
                        <td>Equivalent to (x == a or x == b or x == c)</td>
                    </tr>
                    <tr>
                        <td>x not in (a, b, c)</td>
                        <td>Equivalent to (x != a and x != b and x != c)</td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th>Boolean logic</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>x or y</td>
                        <td>Boolean or</td>
                    </tr>
                    <tr>
                        <td>x and y</td>
                        <td>Boolean and</td>
                    </tr>
                    <tr>
                        <td>not x</td>
                        <td>Boolean not</td>
                    </tr>
                    <tr>
                        <td>x ? y : z</td>
                        <td>If boolean x, value y, else z</td>
                    </tr>
                </tbody>
            </table>
            <p>Created by Joe Walnes,
                <a href="https://github.com/joewalnes/filtrex">
                    <br/>(See https://github.com/joewalnes/filtrex for more usage information.)</a>
            </p>
</article>
